---
layout: default.njk
---

    <header id="home">
        <img src="/assets/church-street.jpg" alt="Kyle and James on Church Street at Christmas">
        <h1>btv.dev</h1>
    </header>
    {# <main>

        <section id="what-we-do">

        </section>

        <section id="who-we-are">
            <h2>About Us</h2>
            <ul>
                <li><a href="https://kylemit.dev/">Kyle</a></li>
                <li><a href="https://www.jamestedesco.me/">James</a></li>
            </ul>
        </section>

        <section id="projects">

        </section>

        <section id="get-in-touch">

        </section>

    </main>
    <footer id="footer">

    </footer> #}