/* Utilities */
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 2em;
    font-size: 1.1em;
    color: #4e4e4e;
    scroll-behavior: smooth;
}

header {
    position: relative;
}

#home img {
    filter: grayscale(0.6);
    width: 100%;
    height: 47vh;
    object-fit: cover;
    object-position: 50% 28%;
}

h1 {
    font-family: 'Modak', cursive;
    font-size: 10em;
    color: white;
    font-weight: normal;
    position: absolute;
    top: 70%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 15vw;
}

main {
    margin: 0 5%;
}

section {
    margin: 1em 0 4em 0;
}

h2 {
    color: #336AD6;
    margin: 0;
}

a {
    width: fit-content;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #CEF1F6;
    box-shadow: 0px -10px 0px #CEF1F6 inset;
}

a:hover,
.entry-content a:focus {
    border-bottom-color: #e4e4e4;
    box-shadow: 0px -10px 0px #e4e4e4 inset;
}

a.button {
    background: #336AD6;
    font-size: 1em;
    padding: .5em 1em;
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: #033598 4px 4px 6px;
}


/* Bio Styles */
.bro {
    margin: 2em 0;
}

.profile-pic {
    height: 10em;
    border-radius: 50%;
}


/* Media queries */
@media only screen and (min-width: 700px) {
    main {
        margin: 0 15%;
    }

    .bros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3em;
    }
}