html,
body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

#home img {
    filter: grayscale(0.6);
    max-width: 100%;
}

h1 {
    font-family: 'Modak', cursive;
    font-size: 10em;
    color: white;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}